name: 'Copa Scan and Patch'

on:
  workflow_dispatch: # Allows you to run it manually

env:
  # The image we are going to scan and patch
  IMAGE_TO_PATCH: 'ianyoungjunehong/copa-test:latest'
  
  # The new tag for the patched image
  PATCHED_IMAGE_TAG: 'latest-patched'

jobs:
  scan-and-patch:
    runs-on: ubuntu-latest

    steps:
      - name: 'Log in to Docker Hub'
        uses: docker/login-action@v3
        with:
          username: 'ianyoungjunehong'
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: 'Scan image with Trivy'
        uses: 'aquasecurity/trivy-action@master'
        with:
          # Scan the image from Docker Hub
          image-ref: ${{ env.IMAGE_TO_PATCH }}
          vuln-type: 'os'
          # Only report vulnerabilities that have a fix available
          ignore-unfixed: true
          severity: 'CRITICAL,HIGH'
          format: 'json'
          output: 'trivy-report.json'
          # Don't fail the job; we want Copa to fix it
          exit-code: '0'

      - name: 'Run Copa to patch the image'
        id: 'copa'
        uses: 'project-copacetic/copa-action@v1'
        with:
          # Tell copa to patch the image from Docker Hub
          image: ${{ env.IMAGE_TO_PATCH }}
          # Use the Trivy report as the "to-do list"
          image-report: 'trivy-report.json'
          # Suffix for the new local image
          patched-tag: 'local-patch-suffix' 

      - name: 'Tag and Push patched image to Docker Hub'
        if: ${{ steps.copa.outputs.patched-image }}
        run: |
          # This is the local image copa created
          LOCAL_PATCHED_IMAGE="${{ steps.copa.outputs.patched-image }}"

          # This is the final name we want on Docker Hub
          # It combines the repo name with the new tag
          TARGET_IMAGE="${{ env.IMAGE_TO_PATCH }}:${{ env.PATCHED_IMAGE_TAG }}"

          echo "Tagging local image $LOCAL_PATCHED_IMAGE as $TARGET_IMAGE"
          docker tag "$LOCAL_PATCHED_IMAGE" "$TARGET_IMAGE"
          
          echo "Pushing $TARGET_IMAGE to Docker Hub..."
          docker push "$TARGET_IMAGE"
          
          echo "Successfully patched and pushed image."

      - name: 'Report no patch needed'
        if: ${{ !steps.copa.outputs.patched-image }}
        run: |
          echo "Trivy found no vulnerabilities that Copa could patch."